@using DAO_WebPortal.Resources
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
    Layout = "../Shared/_MainLayout.cshtml";
}

@Html.AntiForgeryToken()

<script src="../Home/lib/ckeditor/ckeditor.js"></script>

<div class="row my-3">
    <div class="col-md-12">
        <h4 class="mb-3">Job Posting Rules</h4>
        <p><small>1. The job description should be written in a way that is comprehensive and describes the details of the job.</small></p>
        <p><small>2. The completion criteria for the work should be clearly stated and should not allow any misunderstanding.</small></p>
        <p><small>3. If no bids are received at the end of the internal auction, your job will be opened to public bidders.</small></p>
    </div>
</div>

<!--Row-->
<div class="row">
    <div class="col-md-12">
        <div class="form-group mb-4">
            <label class="mb-2"><b><i class="fas fa-heading"></i> Title</b></label>
            <input type="text" class="form-control" id="title" placeholder="Title of the job">
        </div>
        <div class="row my-3">
            <div class="col-md-6">
                <label class="mb-2"><b><i class="fas fa-coins mx-1"></i> Total Budget</b></label>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">€</span>
                            <input class="form-control number" type="text" placeholder="Expected job price in Euros" id="amount"><span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input class="form-control number" type="text" placeholder="Cspr amount" id="cspramount"><span class="input-group-text">Cspr</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="mb-2"><b><i class="fas fa-calendar-week mx-1"></i> Expected Time Frame</b></label>
                <div class="input-group mb-3">
                    <input class="form-control number" type="text" placeholder="Time frame for job completion" id="time"><span class="input-group-text">days</span>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-6">
                <label class="mb-2"><b><i class="fas fa-hashtag mx-1"></i> Tags / Coding Language</b></label>
                <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder="Related tags and coding languages (Comma seperated)" id="tags">
                </div>
            </div>
            <div class="col-md-6">
                <label class="mb-2"><b><i class="fas fa-code mx-1"></i> Code Url</b></label>
                <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder="Url of the repository or code file" id="codeurl">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="mb-2" for="description"><b><i class="fas fa-file mx-1"></i> Job Description</b></label>
            <textarea type="text" id="description" name="description" placeholder="Job Description" rows="10"></textarea>
        </div>
        <div class="d-flex justify-content-end my-3">
            <button type="submit" class="btn btn-primary" onclick="StartJobPost();">Submit Job</button>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        var csprprice = parseFloat('@httpContextAccessor.HttpContext.Session.GetString("cspr_price")')

        $(document).ready(function () {
            if (document.body.classList.contains('dark-theme')) {
                CKEDITOR.replace('description', {
                    skin: 'moono-dark'
                });
            }
            else {
                CKEDITOR.replace('description', {
                    skin: 'moono-lisa'
                });
            }

            const amountinput = document.getElementById('amount');
            amountinput.addEventListener('input', (event) => {
                console.log($('#amount').val());

                $("#cspramount").val((parseFloat($('#amount').val()) / csprprice).toFixed(0));
            });
        });

        function StartJobPost() {
            //Create job model
            var title = $('#title').val()
            var amount = $('#amount').val();
            var time = $('#time').val();
            var codeurl = $('#codeurl').val();
            var tags = $('#tags').val();
            var cspramount = $('#cspramount').val();
            var description = CKEDITOR.instances["description"].getData();
            var token = $('input[name="__RequestVerificationToken"]', token).val();

            if (title.length <= 0 || amount.length <= 0 || time.length <= 0 || codeurl.length <= 0 || tags.length <= 0 || cspramount.length <= 0 || description.length <= 0) {
                toastr.warning("All fields must be filled.");
                return;
            }

            $.confirm({
                title: 'Disclaimer of Warranty',
                content: '<b>By posting a job, you unconditionally and irrevocably agree: </b>' +

                    '<div class="form-check m-2"><input class="form-check-input" type="checkbox" value="" id="checkConfirm1"><label class="form-check-label text-justify" for="flexCheckDefault">Unless required by applicable law or agreed to in writing, each Contributor having participated in a code review or other CRDAO work product provides its Contribution to the Work on an AS IS BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied, including, without limitation, any warranties or conditions of TITLE, NON-INFRINGEMENT, MERCHANTABILITY, or FITNESS FOR A PARTICULAR PURPOSE. Code Review DAO (CRDAO) as a pure facilitator of the review process assumes liability neither for the Contributions to the Work nor for the Work itself, in particular, but not limited to, with regard to accuracy, completeness, or diligence of the Contributions and the Work. You are solely responsible for determining the appropriateness of using or redistributing the Work and assume any risks associated with Your exercise of permissions under this License.</label></div>'
                ,
                columnClass: 'col-md-8 col-md-offset-2',
                buttons: {
                    cancel: {
                        text: 'Cancel'
                    },
                    confirm: {
                        text: 'Continue',
                        btnClass: 'btn btn-primary',
                        action: function () {
                            var confirmationControl = true;

                            var checked = $("#checkConfirm1").is(':checked');

                            if (checked == false) {
                                confirmationControl = false;
                            }

                            //for (var i = 1; i < 3; i++) {
                            //    var checked = $("#checkConfirm" + i).is(':checked');

                            //    if (checked == false) {
                            //        confirmationControl = false;
                            //    }
                            //}

                            if (confirmationControl == false) {
                                toastr.warning("You must confirm agreements.");

                                return false;
                            }

                            if ("@Program._settings.DaoBlockchain.ToString()" == "Casper") {
                                CheckWalletAndSendDeploy("../CasperChain/GetPostJobOfferDeploy?timeframe=" + $("#time").val() + "&budget=" + parseInt($("#cspramount").val()), PostNewJob);
                            }
                            else {
                                PostNewJob("")
                            }

                        }
                    }
                }
            });

        }

        //Add new job function
        function PostNewJob(signedDeployJson) {
            //Create job model
            var title = $('#title').val()
            var amount = $('#amount').val();
            var time = $('#time').val();
            var codeurl = $('#codeurl').val();
            var tags = $('#tags').val();
            var cspramount = $('#cspramount').val();
            var description = CKEDITOR.instances["description"].getData();
            var token = $('input[name="__RequestVerificationToken"]', token).val();

            if (title.length <= 0 || amount.length <= 0 || time.length <= 0 || codeurl.length <= 0 || tags.length <= 0 || cspramount.length <= 0 || description.length <= 0) {
                toastr.warning("All fields must be filled.");
                return;
            }

            //Ajax post action
            $.ajax({
                type: "POST",
                url: "../Home/New_Job_Post",
                data: { "title": title, "amount": amount, "cspramount": cspramount, "time": time, "description": description, "tags": tags, "codeurl": codeurl, "__RequestVerificationToken": token, "signedDeployJson": JSON.stringify(signedDeployJson) },
                success: function (result) {
                    if (result.success) {
                        window.location.href = "./My-Jobs";
                    }
                    else {
                        toastr.warning(result.message);
                        HideLoader();
                    }
                },
                failure: function (response) {
                    toastr.warning("@Lang.ConnectionError");
                    HideLoader();
                },
                error: function (response) {
                    toastr.error("@Lang.UnexpectedError");
                    HideLoader();
                }
            });

        }

    </script>

}