@using DAO_WebPortal.Resources
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
    Layout = "../Shared/_MainLayout.cshtml";

}

<script src="../Home/lib/ckeditor/ckeditor.js"></script>

<div id="typeSelectionDiv">
    <h4 class="mt-5">Select a vote type</h4>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card voteTypeCard" onclick="SelectVoteType('simple')">
                <div class="card-body">
                    <h4>Simple</h4>
                    <i class="fas fa-vote-yea"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card voteTypeCard" onclick="SelectVoteType('vaonboarding')">
                <div class="card-body">
                    <h4>VA Onboarding</h4>
                    <i class="fas fa-user-plus"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card voteTypeCard" onclick="SelectVoteType('repo')">
                <div class="card-body">
                    <h4>Governance</h4>
                    <i class="fas fa-university"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card voteTypeCard" onclick="SelectVoteType('kyc')">
                <div class="card-body">
                    <h4>KYC</h4>
                    <i class="fas fa-user-check"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card voteTypeCard" onclick="SelectVoteType('reputation')">
                <div class="card-body">
                    <h4>Reputation</h4>
                    <i class="fas fa-star"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card voteTypeCard" onclick="SelectVoteType('slashing')">
                <div class="card-body">
                    <h4>Slashing</h4>
                    <i class="fas fa-user-slash"></i>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row d-none mt-3" id="voteInputsDiv">
    <div class="col-md-12">

        <div class="voteInputSection d-none" id="simpleDiv">
            <div class="form-group mb-4" id="titlediv">
                <label class="mb-2" for="title"><b><i class="fas fa-heading"></i> Title</b></label>
                <input type="text" class="form-control" id="title" placeholder="Title of the post" autocomplete="off">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-4" id="documentDiv">
                        <label class="mb-2" for="simpledocumenthash"><i class="fas fa-folder"></i> Document</b></label>
                        <input type="text" class="form-control" id="simpledocumenthash" placeholder="Document hash"
                               autocomplete="off">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-4">
                        <label class="mb-2"><b><i class="fas fa-star"></i> Reputation Stake</b></label>
                        <input type="text" class="form-control" id="simplestake" placeholder="Stake">
                    </div>
                </div>
            </div>

            <div class="form-group" id="descriptiondiv">
                <label class="mb-2" for="description"><b><i class="fas fa-list mx-1"></i> Description</b></label>
                <textarea type="text" id="description" name="description" placeholder="Description of the vote"
                          rows="10"></textarea>
            </div>
        </div>
        <div class="voteInputSection d-none" id="vaonboardingDiv">
            <div class="row">
               @* <div class="col-md-6">
                    <div class="form-group mb-4">
                        <label class="mb-2"><b><i class="fas fa-id-badge"></i> New VA Username</b></label>
                        <input type="text" class="form-control" id="vausername" placeholder="Username" disabled>
                    </div>
                </div>*@
                <div class="col-md-6">
                    <div class="form-group mb-4">
                        <label class="mb-2"><b><i class="fas fa-wallet"></i> New VA Public Key</b></label>
                        <input type="text" class="form-control" id="vaaddress" placeholder="User's public key" disabled value="@(httpContextAccessor.HttpContext.Session.GetString("WalletAddress") != null ? httpContextAccessor.HttpContext.Session.GetString("WalletAddress") : "")">
                    </div>
                </div>
            </div>

            <div class="form-group mb-4">
                <label class="mb-2"><b><i class="fas fa-th-list"></i> Reason</b></label>
                <input type="text" class="form-control" id="reason" placeholder="Reason">
            </div>

            <p>*You must fill username OR public key</p>
        </div>
        <div class="voteInputSection d-none" id="repoDiv">
            <div class="row">
                <div class="form-group mb-4">
                    <label class="mb-2"><b><i class="fas fa-key"></i> Key</b></label>
                    <input type="text" class="form-control" id="repokey" placeholder="Key">
                </div>
                <div class="form-group mb-4">
                    <label class="mb-2"><b><i class="fas fa-star-of-life"></i> New Value</b></label>
                    <input type="text" class="form-control" id="repovalue" placeholder="New Value">
                </div>
                <div class="form-group mb-4">
                    <label class="mb-2"><b><i class="fas fa-star"></i> Reputation Stake</b></label>
                    <input type="text" class="form-control" id="repostake" placeholder="Stake">
                </div>
            </div>
        </div>
        <div class="voteInputSection d-none" id="kycDiv">
            <div class="form-group mb-4">
                <label class="mb-2"><b><i class="fas fa-user"></i> KYC Username</b></label>
                <input type="text" class="form-control" id="kycusername" placeholder="Username">
            </div>
            <div class="form-group mb-4">
                <label class="mb-2"><b><i class="fas fa-star"></i> Reputation Stake</b></label>
                <input type="text" class="form-control" id="kycstake" placeholder="Stake">
            </div>
            <span id="kycavailablity"> </span>
        </div>
        <div class="voteInputSection d-none" id="reputationDiv">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-4">
                        <label class="mb-2"><b><i class="fas fa-id-badge"></i> VA Username</b></label>
                        <input type="text" class="form-control" id="repusername" placeholder="Username">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-4">
                        <label class="mb-2"><b><i class="fas fa-wallet"></i> VA Public Key</b></label>
                        <input type="text" class="form-control" id="repwallet" placeholder="User's public key">
                    </div>
                </div>
            </div>

            <div class="form-group mb-4">
                <label class="mb-2"><b><i class="fas fa-exclamation-circle"></i> Action</b></label>
                <select class="form-control" id="repaction" placeholder="Action">
                    <option val="1">Mint</option>
                    <option val="0">Burn</option>
                </select>
            </div>
            <div class="form-group mb-4">
                <label class="mb-2"><b><i class="fas fa-sort-numeric-up-alt"></i> Amount</b></label>
                <input type="text" class="form-control" id="repamount" placeholder="Amount">
            </div>
            <div class="form-group mb-4">
                <label class="mb-2"><b><i class="fas fa-folder"></i> Document</b></label>
                <input type="text" class="form-control" id="repdocumenthash" placeholder="Document">
            </div>
            <div class="form-group mb-4">
                <label class="mb-2"><b><i class="fas fa-star"></i> Stake</b></label>
                <input type="text" class="form-control" id="repstake" placeholder="Stake">
            </div>

            <p>*You must fill username OR public key</p>

        </div>
        <div class="voteInputSection d-none" id="slashingDiv">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-4">
                        <label class="mb-2"><b><i class="fas fa-id-badge"></i> VA Username</b></label>
                        <input type="text" class="form-control" id="slashusername" placeholder="Username">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-4">
                        <label class="mb-2"><b><i class="fas fa-user"></i> Address To Slash</b></label>
                        <input type="text" class="form-control" id="slashaddress" placeholder="User's public key">
                    </div>
                </div>
            </div>

            <div class="form-group mb-4">
                <label class="mb-2"><b><i class="fas fa-percentage"></i> Slash Ratio</b></label>
                <input type="text" class="form-control" id="slashratio" placeholder="Slash ratio. (Eg. 0.05 for 5%)">
            </div>
            <div class="form-group mb-4">
                <label class="mb-2"><b><i class="fas fa-star"></i> Stake</b></label>
                <input type="text" class="form-control" id="slashstake" placeholder="Stake">
            </div>

            <p>*You must fill username OR public key</p>
        </div>

        <div class="d-flex justify-content-end my-3">
            <button type="submit" class="btn btn-danger text-white submitFormButton me-3" onclick="ShowVoteTypes();">Cancel</button>
            <button type="submit" class="btn btn-primary submitFormButton" onclick="StartNewVote();">Start Voting</button>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        var votetype = "";

        $(document).ready(function () {
            if (document.body.classList.contains('dark-theme')) {
                CKEDITOR.replace('description', {
                    skin: 'moono-dark'
                });
            }
            else {
                CKEDITOR.replace('description', {
                    skin: 'moono-lisa'
                });
            }
        });

        function ShowVoteTypes() {
            $('.voteInputSection').removeClass("d-none");
            $('#typeSelectionDiv').removeClass("d-none");
            $('#voteInputsDiv').addClass("d-none");
        }

        function SelectVoteType(voteType) {
            $('.voteInputSection').addClass("d-none");
            $('#typeSelectionDiv').addClass("d-none");
            $('#voteInputsDiv').removeClass("d-none");
            $('#' + voteType + "Div").removeClass("d-none");
            votetype = voteType;
        }

        //Add new simple vote function
        async function StartNewVote() {

            if (votetype == "simple") {
                startOnchainSimpleVote();
            }
            else if (votetype == "vaonboarding") {
                startOnchainVaOnboardingVote();
            }
            else if (votetype == "repo") {
                startOnchainRepoVote();
            }
            else if (votetype == "kyc") {
                startOnchainKycVote();
            }
            else if (votetype == "reputation") {
                startOnchainReputationVote();
            }
            else if (votetype == "slashing") {
                startOnchainSlashingVote();
            }
        }

        function startSimpleVote(signedDeployJson) {

            //Simple Vote parameters
            var documentHash = $("#simpledocumenthash").val();
            var title = $("#title").val();
            var description = CKEDITOR.instances["description"].getData();
            var stake = $("#simplestake").val();

            //Ajax post action
            $.ajax({
                type: "POST",
                url: "../Home/New_Vote_Simple",
                data: {
                    "stake": stake,
                    "documentHash": documentHash,
                    "title": title,
                    "description": description,
                    "signedDeployJson": JSON.stringify(signedDeployJson)
                },
                success: function (result) {
                    if (result.success) {
                        window.location.reload();
                    }
                    else {
                        toastr.warning(result.message);
                        HideLoader();
                    }
                },
                failure: function (response) {
                    toastr.warning("@Lang.ConnectionError");
                    HideLoader();
                },
                error: function (response) {
                    toastr.error("@Lang.UnexpectedError");
                    HideLoader();
                }
            });

        }

        function startVaOnboardingVote(signedDeployJson) {
            //VA Onboarding Vote parameters
            var newvausername = "";
            var vaaddress = $("#vaaddress").val();
            var reason = $("#reason").val();
            var stake = $("#vaonboardingstake").val();

            //Ajax post action
            $.ajax({
                type: "POST",
                url: "../Home/New_Vote_VaOnboarding",
                data: {
                    "stake": stake,
                    "reason": reason,
                    "newvausername": "",
                    "newvaaddress": vaaddress,
                    "signedDeployJson": JSON.stringify(signedDeployJson)
                },
                success: function (result) {
                    if (result.success) {
                        window.location.reload();
                    }
                    else {
                        toastr.warning(result.message);
                        HideLoader();
                    }
                },
                failure: function (response) {
                    toastr.warning("@Lang.ConnectionError");
                    HideLoader();
                },
                error: function (response) {
                    toastr.error("@Lang.UnexpectedError");
                    HideLoader();
                }
            });
        }

        function startRepoVote(signedDeployJson) {
            //VA Repo Vote parameters
            var key = $("#repokey").val();
            var value = $("#repovalue").val();
            var stake = $("#repostake").val();

            //Ajax post action
            $.ajax({
                type: "POST",
                url: "../Home/New_Vote_Governance",
                data: {
                    "stake": stake,
                    "key": key,
                    "value": value,
                    "signedDeployJson": JSON.stringify(signedDeployJson)
                },
                success: function (result) {
                    if (result.success) {
                        window.location.reload();
                    }
                    else {
                        toastr.warning(result.message);
                        HideLoader();
                    }
                },
                failure: function (response) {
                    toastr.warning("@Lang.ConnectionError");
                    HideLoader();
                },
                error: function (response) {
                    toastr.error("@Lang.UnexpectedError");
                    HideLoader();
                }
            });
        }

        function startKycVote(signedDeployJson) {

            //KYC Vote parameters
            var kycUserName = $("#kycusername").val();
            var stake = $("#kycstake").val();

            //Ajax post action
            $.ajax({
                type: "POST",
                url: "../Home/New_Vote_KYC",
                data: {
                    "stake": stake,
                    "kycUserName": kycUserName,
                    "signedDeployJson": JSON.stringify(signedDeployJson)
                },
                success: function (result) {
                    if (result.success) {
                        window.location.reload();
                    }
                    else {
                        toastr.warning(result.message);
                        HideLoader();
                    }
                },
                failure: function (response) {
                    toastr.warning("@Lang.ConnectionError");
                    HideLoader();
                },
                error: function (response) {
                    toastr.error("@Lang.UnexpectedError");
                    HideLoader();
                }
            });

        }

        function startReputationVote(signedDeployJson) {

            //Reputation Vote parameters
            var action = parseInt($("#repaction").val());
            var subjectaddress = $("#repwallet").val();
            var amount = $("#repamount").val();
            var documenthash = $("#repdocumenthash").val();
            var stake = $("#repstake").val();
            var repusername = $("#repusername").val();

            //Ajax post action
            $.ajax({
                type: "POST",
                url: "../Home/New_Vote_Reputation",
                data: {
                    "action": action,
                    "subjectaddress": subjectaddress,
                    "amount": amount,
                    "documenthash": documenthash,
                    "stake": stake,
                    "repusername": repusername,
                    "signedDeployJson": JSON.stringify(signedDeployJson)
                },
                success: function (result) {
                    if (result.success) {
                        window.location.reload();
                    }
                    else {
                        toastr.warning(result.message);
                        HideLoader();
                    }
                },
                failure: function (response) {
                    toastr.warning("@Lang.ConnectionError");
                    HideLoader();
                },
                error: function (response) {
                    toastr.error("@Lang.UnexpectedError");
                    HideLoader();
                }
            });

        }

        function startSlashingVote(signedDeployJson) {

            //Reputation Vote parameters
            var address_to_slash = $("#slashaddress").val();
            var slash_ratio = parseFloat($("#slashratio").val()) * 1000;
            var stake = $("#slashstake").val();
            var slashusername = $("#slashusername").val();

            //Ajax post action
            $.ajax({
                type: "POST",
                url: "../Home/New_Vote_Slashing",
                data: {
                    "addresstoslash": address_to_slash,
                    "slashratio": slash_ratio,
                    "stake": stake,
                    "slashusername": slashusername,
                    "signedDeployJson": JSON.stringify(signedDeployJson)
                },
                success: function (result) {
                    if (result.success) {
                        window.location.reload();
                    }
                    else {
                        toastr.warning(result.message);
                        HideLoader();
                    }
                },
                failure: function (response) {
                    toastr.warning("@Lang.ConnectionError");
                    HideLoader();
                },
                error: function (response) {
                    toastr.error("@Lang.UnexpectedError");
                    HideLoader();
                }
            });

        }

    </script>

    @if (Program._settings.DaoBlockchain == Helpers.Constants.Enums.Blockchain.Casper)
    {
        <script>

            async function startOnchainSimpleVote() {
                if ($("#simpledocumenthash").val().length <= 0 || $("#simplestake").val().length <= 0 || CKEDITOR.instances["description"].getData().length <= 0) {
                    toastr.warning("All fields must be filled.");
                    return;
                }
                if (!($("#simplestake").val() + "").match(/^\d+$/)) {
                    toastr.warning("Reputation stake must be an integer.");
                    return;
                }

                CheckWalletAndSendDeploy("../CasperChain/GetSimpleVoteDeploy?documenthash=" + $("#simpledocumenthash").val() + "&stake=" + $("#simplestake").val(), startSimpleVote);
            }

            async function startOnchainVaOnboardingVote() {
                if ($("#vaaddress").val().length <= 0 || $("#reason").val().length <= 0) {
                    toastr.warning("All fields must be filled.");
                    return;
                }

                CheckWalletAndSendDeploy("../CasperChain/GetVaOnboardingVoteDeploy?username=&newvaaddress=" + $("#vaaddress").val() + "&reason=" + $("#reason").val(), startVaOnboardingVote);
            }

            async function startOnchainRepoVote() {
                if ($("#repokey").val().length <= 0 || $("#repovalue").val().length <= 0 || $("#repostake").val().length <= 0) {
                    toastr.warning("All fields must be filled.");
                    return;
                }
                if (!($("#repostake").val() + "").match(/^\d+$/)) {
                    toastr.warning("Reputation stake must be an integer.");
                    return;
                }

                CheckWalletAndSendDeploy("../CasperChain/GetRepoVoteDeploy?key=" + $("#repokey").val() + "&value=" + $("#repovalue").val() + "&stake=" + $("#repostake").val(), startRepoVote);
            }

            async function startOnchainKycVote() {
                if ($("#kycusername").val().length <= 0 || $("#kycstake").val().length <= 0) {
                    toastr.warning("All fields must be filled.");
                    return;
                }
                if (!($("#kycstake").val() + "").match(/^\d+$/)) {
                    toastr.warning("Reputation stake must be an integer.");
                    return;
                }

                CheckWalletAndSendDeploy("../CasperChain/GetKYCVoteDeploy?username=" + $("#kycusername").val() + "&stake=" + $("#kycstake").val(), startKycVote);
            }

            async function startOnchainReputationVote() {
                if ($("#repstake").val().length <= 0 || ($("#repwallet").val().length <= 0 && $("#repusername").val().length <= 0) || $("#repamount").val().length <= 0 || $("#repdocumenthash").val().length <= 0) {
                    toastr.warning("All fields must be filled.");
                    return;
                }
                if (!($("#repstake").val() + "").match(/^\d+$/)) {
                    toastr.warning("Reputation stake must be an integer.");
                    return;
                }
                if (!($("#repamount").val() + "").match(/^\d+$/)) {
                    toastr.warning("Reputation amount must be an integer.");
                    return;
                }

                CheckWalletAndSendDeploy("../CasperChain/GetReputationVoteDeploy?action=" + $("#repaction").val() + "&stake=" + $("#repstake").val() + "&subjectaddress=" + $("#repwallet").val() + "&amount=" + $("#repamount").val() + "&documenthash=" + $("#repdocumenthash").val() + "&repusername=" + $("#repusername").val(), startReputationVote);
            }

            async function startOnchainSlashingVote() {
                if (($("#slashaddress").val().length <= 0 && $("#slashusername").val().length <= 0) || $("#slashstake").val().length <= 0 || $("#slashratio").val().length <= 0) {
                    toastr.warning("All fields must be filled.");
                    return;
                }
                if (!($("#slashstake").val() + "").match(/^\d+$/)) {
                    toastr.warning("Reputation stake must be an integer.");
                    return;
                }

                var slash_ratio = parseFloat($("#slashratio").val()) * 1000;
                CheckWalletAndSendDeploy("../CasperChain/GetSlashingVoteDeploy?addresstoslash=" + $("#slashaddress").val() + "&slashratio=" + slash_ratio + "&stake=" + $("#slashstake").val() + "&slashusername=" + $("#slashusername").val(), startSlashingVote);
            }
        </script>
    }
    else if (Program._settings.DaoBlockchain == null)
    {
        @* Start votes without any onchain process *@
        <script>
            function startOnchainSimpleVote() {
                $.confirm({
                    title: 'Confirmation',
                    content: '<p>Are you sure you want to start vote process ?</p>',
                    columnClass: 'col-md-8 col-md-offset-2',
                    buttons: {
                        cancel: {
                            text: 'Cancel'
                        },
                        confirm: {
                            text: 'Continue',
                            btnClass: 'btn btn-primary',
                            action: function () {
                                startSimpleVote("")
                            }

                        }
                    }
                });
            }

            function startOnchainVaOnboardingVote() {
                $.confirm({
                    title: 'Confirmation',
                    content: '<p>Are you sure you want to start vote process ?</p>',
                    columnClass: 'col-md-8 col-md-offset-2',
                    buttons: {
                        cancel: {
                            text: 'Cancel'
                        },
                        confirm: {
                            text: 'Continue',
                            btnClass: 'btn btn-primary',
                            action: function () {
                                startVaOnboardingVote("")
                            }

                        }
                    }
                });
            }

            function startOnchainRepoVote() {
                $.confirm({
                    title: 'Confirmation',
                    content: '<p>Are you sure you want to start vote process ?</p>',
                    columnClass: 'col-md-8 col-md-offset-2',
                    buttons: {
                        cancel: {
                            text: 'Cancel'
                        },
                        confirm: {
                            text: 'Continue',
                            btnClass: 'btn btn-primary',
                            action: function () {
                                startRepoVote("")
                            }

                        }
                    }
                });
            }

            function startOnchainKycVote() {
                $.confirm({
                    title: 'Confirmation',
                    content: '<p>Are you sure you want to start vote process ?</p>',
                    columnClass: 'col-md-8 col-md-offset-2',
                    buttons: {
                        cancel: {
                            text: 'Cancel'
                        },
                        confirm: {
                            text: 'Continue',
                            btnClass: 'btn btn-primary',
                            action: function () {
                                startKycVote("")
                            }

                        }
                    }
                });
            }

            function startOnchainReputationVote() {
                $.confirm({
                    title: 'Confirmation',
                    content: '<p>Are you sure you want to start vote process ?</p>',
                    columnClass: 'col-md-8 col-md-offset-2',
                    buttons: {
                        cancel: {
                            text: 'Cancel'
                        },
                        confirm: {
                            text: 'Continue',
                            btnClass: 'btn btn-primary',
                            action: function () {
                                startReputationVote("")
                            }

                        }
                    }
                });
            }

            function startOnchainSlashingVote() {
                $.confirm({
                    title: 'Confirmation',
                    content: '<p>Are you sure you want to start vote process ?</p>',
                    columnClass: 'col-md-8 col-md-offset-2',
                    buttons: {
                        cancel: {
                            text: 'Cancel'
                        },
                        confirm: {
                            text: 'Continue',
                            btnClass: 'btn btn-primary',
                            action: function () {
                                startSlashingVote("")
                            }

                        }
                    }
                });
            }
        </script>
    }

}